*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
    overflow-x: hidden;
}

body:after{
    display: none;
    content: url("photos/Simple\ macbook\ no\ text.png") url('photos/app\ dev.jpg') url('photos/it\ cons.jpg');
}

.slider {
    height: 92vh;
    width: 100%;
    background-image: url("photos/Simple\ macbook\ no\ text.png");
    background-position: center;
    transition: background-image 0.8s ease-in-out;
}

.slider:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(0,0,0,0.3);
    pointer-events: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: 700;
    font-size: 150px;
    color: #66fcf1;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    transition: fade 1s ease-in-out;
}

.text2 {
    position: relative;
    top: -50px;
    margin-left: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0b0c10;
    min-height: 8vh;
    width: 100%;
    z-index: 500;
}

.logo {
    color: #c5c6c7;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
}

.nav-list {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    z-index: 500;
}

.nav-list a {
    color: #c5c6c7;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 15px;
}

.nav-list li {
    list-style: none;
}

.contact {
    border: solid;
    border-width: thin;
    border-color: #66fcf1;
    border-radius: 5px;
    padding: 10px
}

@media screen and (max-width: 1300px){
    .nav-list {
        width: 45%;
    }
    .text {
        font-size: 110px;
        font-weight: 600;
    }
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #c5c6c7;
    margin: 5px;
    transition: all 0.3s ease;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 768px){
    body {
        overflow: hidden;
    }

    .nav-list {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 8vh;
        background-color: #1f2833;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-list li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .text {
        position: relative;
        font-size: 40px;
        top: none;
        left: 0px;
        width: 100vw;
        text-align: center;
    }
    
    .text1 {
        position: relative;
        align-content: center;
        width: 100%;
    }

    .text2 {
        position: relative;
        top: 0px;
        margin-left: 0px;
        align-content: center;
    }

    .slider {
        align-content: center;
        justify-content: center;
        vertical-align: center;
        text-align: center;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navListFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navListunfade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.activate .layer1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.activate .layer2 {
    opacity: 0;
}

.activate .layer3 {
    transform: rotate(45deg) translate(-5px, -6px);
}